@import 'bootstrap/dist/css/bootstrap.min.css';

canvas {
    /* border: 2px solid black; */
    width: 180px;
    height: 70px;
    padding-right: 20px;

}

.print {
    width: 800px;
    height: 1160px;
}